.markdown-rendered ul > li.sys-flexbox-li{
    --p-spacing: 0.5rem;
    --heading-spacing: calc(var(--p-spacing)* 2.5);
    margin-inline-start: 0px;
    padding: 12px 8px;
}

.sys-flexbox-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
}

/* Cada item se torna um card */
.sys-flexbox-li {
    background-color: var(--background-primary-alt);
    border: 0px solid var(--background-modifier-border);
    border-radius: 6px;
    max-width: 30vw;
    /* flex: 1 1 calc(33.33% - 1rem); */
    /* 3 por linha com gap */
    list-style: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.sys-flexbox-li img {
    border: 0px solid var(--background-modifier-border);
    border-radius: 6px;
}

.sys-flexbox-li h1,
.sys-flexbox-li h2,
.sys-flexbox-li h3,
.sys-flexbox-li h4,
.sys-flexbox-li h5,
.sys-flexbox-li h6 {
    padding-right: 20px;
}

/* Animação ao passar o mouse */
.sys-flexbox-li:hover {
    background-color: var(--background-secondary);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}